extends ./tmp/layout

block content
	div#content 
		ul.data-item
			each item in data
				li.items
					div.items-l
						div.data
							i.fa.fa-calendar
							span #{item.addtime}
						div.comments
							i.fa.fa-comments
							span 20 comments
					div.items-r
						h1.title
							a(href="/notes/page?id=#{item.id}")  #{item.title}
						h2.describe Low Cost, Scalable, Distributed & Above All: Personalized
						div.summary  #{item.content}
			li.items
				div.items-l
				div.items-r
					nav(aria-label="Page navigation")
						- var nowPage  = parseInt(page);
						- var prevPage = nowPage-1;
						- var nextPage = nowPage+1;

						ul.pagination 
							li
								a(href="/?page=#{prevPage}", aria-label="Previous")
									span(aria-hidden="true") &laquo;

							li
								a(href="/?page=1", aria-label="Previous")
									span(aria-hidden="true") 1

							- if(totalPage<10)
								- for(let i=2; i<= totalPage; i++)
									li
										a(href="/?page=#{i}") #{i}
							- else if(totalPage>10 && nowPage>5)
								li 
									a(href="javascript:void(0)", aria-label="Previous") ......
								- for(let i = page-4; i<page; i++)
									li
										a(href="/?page=#{i}") #{i}
								- if(nowPage+4>totalPage)
									- for(let i=nowPage+1; i< totalPage; i++)
										li
											a(href="/?page=#{i}") #{i}
								- else
									- for(let i=nowPage; i<nowPage+4; i++)
										li
											a(href="/?page=#{i}") #{i}
							- else if(totalPage>10 && page<=5)
								- for(let i=2; i<= 9; i++)
									li
										a(href="/?page=#{i}") #{i}

							- if(totalPage>10)
								li 
									a(href="javascript:void(0)", aria-label="Previous")  ......		
								li
									a(href="/?page=#{totalPage}", aria-label="Previous")
										span(aria-hidden="true") #{totalPage}


							li
								a(href="/?page=#{nextPage}", aria-label="Next")
									span(aria-hidden="true") &raquo;
	
