extends ./tmp/layout

block content
	div#content 
		ul.data-item
			each item in data
				li.items
					div.items-l
						div.data
							i.fa.fa-calendar
							span #{item.addtime}
						div.comments
							i.fa.fa-comments
							span 20 comments
					div.items-r
						h1.title
							a(href="/notes/page?id=#{item.id}")  #{item.title}
						h2.describe Low Cost, Scalable, Distributed & Above All: Personalized
						div.summary  #{item.content}
			li.items
				div.items-l
				div.items-r
					nav(aria-label="Page navigation")
						- var prevPage = page-1;
						- var nextPage = parseInt(page)+1;
						ul.pagination 
							li
								a(href="/?page=#{prevPage}", aria-label="Previous")
									span(aria-hidden="true") &laquo;
							- for(let i =1; i<= totalPage; i++)
								li
									a(href="/?page=#{i}") #{i}
							li
								a(href="/?page=#{nextPage}", aria-label="Next")
									span(aria-hidden="true") &raquo;
	
